<div class="container-fluid" ng-controller="ProductsController">
    <div class="row" id="move-down">

		<div class="col-xs-12">
			<div class="jumbotron" id="shaddow">

				<h2 class="block">Settings</h2>
				<p> There are no settings actually..</p>

				<div id="down">
					<a href="/static/store.html#/products"><button class="btn btn-default hvr-overline-from-center"> Irons </button></a>
					<a href="/static/store.html#/drivers"><button class="btn btn-default hvr-overline-from-center"> Drivers </button></a>
					<a href="/static/store.html#/putters"><button class="btn btn-default hvr-overline-from-center"> Putters </button></a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="col-xs-12">
				<h2>Settings</h2>
				<h4>There are no settings for my golf store...</h4>
				<p>Leave a message though</p>
				<textarea name="message" class="form-control" rows="5" ng-model=""></textarea>
				<button class="btn btn-defualt hvr-wobble-horizontal hvr-overline-from-center pull-right" id="product-button" ng-click="">Send</button>
			</div>
		  <div class="row">
		  	<p>Developed by Evan Buss</p>
		  </div>

		</div>
